apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: user-user1

bases:
  - ../../../base/user-namespace

nameSuffix: ""

replacements:
  - source:
      kind: Namespace
      name: user-template
    targets:
      - select:
          kind: Namespace
        fieldPaths:
          - metadata.name
      - select:
          kind: ResourceQuota
        fieldPaths:
          - metadata.namespace
      - select:
          kind: LimitRange
        fieldPaths:
          - metadata.namespace
      - select:
          kind: ServiceAccount
        fieldPaths:
          - metadata.namespace
      - select:
          kind: Role
        fieldPaths:
          - metadata.namespace
      - select:
          kind: RoleBinding
        fieldPaths:
          - metadata.namespace
          - subjects.0.namespace
      - select:
          kind: NetworkPolicy
        fieldPaths:
          - metadata.namespace
      - select:
          kind: IntegrationPlatform
        fieldPaths:
          - metadata.namespace
      - select:
          kind: ConfigMap
        fieldPaths:
          - metadata.namespace

patches:
  - patch: |-
      - op: replace
        path: /metadata/name
        value: user-user1
    target:
      kind: Namespace
      name: user-template
